{% comment %}
  Placeholder to allow defining custom head. You can put favicons and other custom header fields here
{% endcomment %}

<script src="https://kit.fontawesome.com/81fb65e8cc.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.js"></script>

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']],
      processEscapes: true
    }
  });
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PS7K9SKRVT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PS7K9SKRVT');
</script>

{% if page.title %}
  <meta property="og:title" content="{{ page.title }}" />
{% else %}
  <meta property="og:title" content="{{ site.title }}" />
{% endif %}
{% if page.description %}
  <meta property="og:description" content="{{ page.description }}" />
{% endif %}
<meta property="og:url" content="https://mbergerman.github.io{{ page.url }}" />
<meta property="og:image" content="https://mbergerman.github.io/images/banner_text.jpg" />
<meta property="og:type" content="website">
<meta name="author" content="Matías Bergerman">
<meta name="site_name" content="Matías Bergerman">