ul.horizontal-list {
  display: flex;
  //justify-content: space-between;
  margin-top: 0em;
  margin-bottom: 0px;
  margin-left: -40px;
  flex-wrap: wrap;

  li {
    font-family: 'Quicksand', sans-serif;
    display:inline;
    margin-right: 1.6em;
  }

  li a {
    text-decoration: none;
    font-weight: normal
  }

}

.column {
  float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  padding: 1.2em;
  width: 16em;
  height: auto;
  text-align: center;
  font-size: 1em;
  align-items: center;
  background-color: var(--bg-secondary);
  margin-bottom: 0.8em;
  border-radius: 0.8em;
  cursor: pointer;
  transition: all 250ms;

  .header {
    color: var(--links);
  }

  .body {
    font-size: 1em;
  }

  hr {
    margin: 0.5em 0;
    border: 0;
    height: 1px;
    background-color: var(--text);
  }
}

.card:hover{
  background-color: var(--bg-secondary-hover);
  box-shadow: 0px 0px 10px 2px var(--bg-secondary) inset;
}

/* Responsive cards - one column layout on small screens */
@media screen and (max-width: 720px) {
  ul.horizontal-list li.card {
    width: 100%;
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    a, .header {
      font-size: 1em;
    }
  }
}

.info-box {
  padding: 1.2em;
  width: 26em;
  height: auto;
  text-align: left;
  font-size: 1em;
  align-items: left;
  background-color: var(--bg-secondary);
  margin-bottom: 0.8em;

  .header {
    color: var(--text);
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
  }
  
  .loc {
    font-style: italic;
    color: var(--text);
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }

  .date {
    color: var(--headings);
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }

  .body {
    margin-top: 0.5em;
    margin-bottom: 0em;
    font-size: 1em;
  }
}

/* Responsive cards - one column layout on small screens */
@media screen and (max-width: 1040px) {
  ul.horizontal-list li.info-box {
    width: 100%;
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
  }
}