---
layout: default
---

<head>
{% if site.theme_config.show_navbar == true %}
  <div class="row" style="margin-bottom:16px;">
    <div class="column">
      {% if page.lang == 'en' %}
        {% include horizontal_list.html collection=site.data.home.navbar_entries.en %}
      {% else %}
        {% include horizontal_list.html collection=site.data.home.navbar_entries.es %}
      {% endif %}      
    </div>
    <div class="column" style="float:right;">
      {% include language_list.html %}
    </div>
  </div>
  <hr />
{% endif %}

  <h1 class="site-title">{{ site.title }}</h1>
  {% if site.theme_config.show_description == true %}
    <p class="site-subtitle">{{ site.subtitle[page.lang] }}</p>
  {% endif %}
</header>

{{ content }}

{% if site.theme_config.show_projects == true %}
  <h2>{{ site.theme_config.home.title_projects[page.lang] }}</h2>
  {% if page.lang == 'en' %}
    {% include card_list.html collection=site.data.home.project_entries.en %}
  {% else %}
    {% include card_list.html collection=site.data.home.project_entries.es %}
  {% endif %}  
{% endif %}

{% if site.theme_config.show_misc_list == true %}
  <h2>{{ site.theme_config.home.title_misc_list[page.lang] }}</h2>
  {% if page.lang == 'en' %}
    {% include vertical_list.html collection=site.data.home.misc_entries.en %}
  {% else %}
    {% include vertical_list.html collection=site.data.home.misc_entries.es %}
  {% endif %}  
{% endif %}

{% if site.theme_config.show_featured == true %}
  <h2>{{ site.theme_config.home.title_featured[page.lang] }}</h2>
  {% include post_list.html type="featured" %}
{% endif %}

{% if site.theme_config.show_blog == true %}
  <h2>{{ site.theme_config.home.title_blog[page.lang] }}</h2>
  {% include post_list.html type="not-featured" %}
{% endif %}

{% if site.theme_config.show_old_projects == true %}
  <h2>{{ site.theme_config.home.title_old_projects[page.lang] }}</h2>
  {% if page.lang == 'en' %}
    {% include card_list.html collection=site.data.home.other_project_entries.en %}
  {% else %}
    {% include card_list.html collection=site.data.home.other_project_entries.es %}
  {% endif %}  
{% endif %}


{% if site.theme_config.show_footer == true %}
  <footer>
    <hr/>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
